body{
    background-color: black;
    color: crimson;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.time{
    font-size: small;
}

#copyright{
    color: crimson;
}

.label-text{
    color: #212529 !important; 
}

body.bg-dark{
    color: crimson;
}

.container{
    display: flex;
    justify-content: center;
    margin: 50px;
}